a, button{
    transition: .3s ease-in;
    transition-property: color, background-color, opacity;
    svg{
        fill:currentColor;
    }
}
button, .button{
    cursor: pointer;
}

html{
	scroll-behavior: smooth;
}

a{
	color: #000;
	font-family: 'Caveat', cursive;
	font-size: 20px;
}