a, button{
    transition: .3s ease-in;
    transition-property: color, background-color, opacity;
    svg{
        fill:currentColor;
    }
}
button, .button{
    cursor: pointer;
}

html{
	scroll-behavior: smooth;
}

a{
	color: #000;
	font-family: 'Caveat', cursive;
	font-size: 20px;
}

.off-canvas{
	nav{
		ul{
			margin-top: 60px;
			margin-left: 40px;

			li+li{
				margin-top: 15px;
			}

			li{
				list-style: none;

				&:focus{
					outline: none;
				}

				a{
					color: #000;
					text-align: left;
					font-size: 32px;

					&:before{
						content: "";
						background: #000;
						display: inline-block;
						height: 2px;
						width: 2px;
						border-radius: 50%;
						margin: 10px 3px;
					}
				}
			}
		}		
	}
}