.mk-header{
	background: #000;
	padding: 10px 0;

	@include breakpoint(large){
		padding: 20px 0;
	}

	.mk-main-menu{
		li{
			color: #fff;
			text-transform: uppercase;

			
			a{
				color: #fff;
				font-weight: 700;
				transition: 2s;
				padding: 10px 0;
				position: relative;
				display: block;
				font-family: 'Caveat', cursive;

				&::after{
					content: '';
					position: absolute;
					top: 100%;
					height: 4px;
					left: -8px;
					right: -8px;
					background: #faa72a;
					transition: transform 0.2s;
					transform: scaleX(0);
				}

				&::before{
					content: "";
					position: absolute;
					top: 0;
					height: 3px;
					width: 3px;
					border-radius: 50%;
					background: #faa72a;
					transform: scaleX(0) translateX(-50%);
					transition: transform 0.2s;
					left: 50%;
				}

				&:hover{
					color: #faa72a;

					&::after, &::before{
						transform: scaleX(1);
					}
				}
			}
		}

		li+li{
			margin-left: 25px;
		}
	}
}