.mk-section-about{
	// background: #fff url("../img/about-top-bg.png") no-repeat 0% -10%;
	background: #fff;
	background-size: contain;
	padding: 30px 0;

	@include breakpoint(large){
		padding: 60px 0;
	}

	.mk-title{
		color: #000;
		text-align: center;
		font-family: 'Caveat', cursive;
		font-size: 50px;

		&::after{
			content: "";
			display: block;
			height: 3px;
			width: 50px;
			background: #000;
			margin: 10px auto 0;
		}
	}

	.mk-about-post{
		margin-top: 60px;

		.mk-description{
			text-align: center;

			@include breakpoint(large){
				text-align: center;
			}

			p{
				color: #000;
				font-weight: 500;
				font-size: 26px;
				font-family: 'Caveat', cursive;

				.mk-yellow-text{
					color: #faa72a;
					font-weight: 500;
					font-size: 26px;
					font-family: 'Caveat', cursive;
				}
			}
		}
	}

	.mk-photo{
		img{
			margin: 40px auto 0;
			height: 600px;
			width: auto;
			display: block;
		}

		@include breakpoint(small){
			img{
				margin: 0 auto;
				transform: none;
				height: 100%;
				width: 100%;
			}
		}
	}
}