.mk-section-works{
	padding: 30px 0;
	background: #fff;

	@include breakpoint(large){
		padding: 60px 0;
	}

	.mk-title{
		color: #000;
		text-align: center;
		margin-bottom: 20px;
		font-family: 'Caveat', cursive;
		font-size: 50px;

		&::after{
			content: "";
			display: block;
			height: 3px;
			width: 50px;
			background: #000;
			margin: 10px auto 0;
		}
	}

	.mk-subtitle{
		p{
			color: #000;
			text-align: center;
			margin-bottom: 20px;
			font-family: 'Caveat', cursive;
			font-size: 30px;
		}
	}

	.mk-subtitle__desk{
		display: none;

		@include breakpoint(large){
			display: block;
		}
	}

	.mk-subtitle__mobile{
		display: block;

		@include breakpoint(large){
			display: none;
		}
	}


	.mk-post{
		margin-bottom: 20px;

		@include breakpoint(large){
			margin-bottom: 30px;
		}
		.mk-img-after{
			display: block;
			transition: display 0.6s;
			cursor: pointer;
			
			img{
				display: block;
				width: 100%;
			}
		}

		.mk-img-before{
			display: none;
			transition: display 0.6s;
			cursor: pointer;

			img{
				display: block;
				width: 100%;
			}
		}

		&:hover{
			.mk-img-after{
				display: none;
			}

			.mk-img-before{
				display: block;
			}
		}
	}
}