<section class="mk-section-gallery" id="gallery">
	<div class="row">
		<div class="large-12 small-12">
			<h2 class="mk-title">
				Галерея
			</h2>
		</div>

		<div class="large-4 small-12">
			<div class="mk-gallery-post">
				<div class="mk-gallery-img">
					<a data-fancybox="gallery-img" href="{{root}}assets/img/img-1.jpeg"><img src="{{root}}assets/img/img-1.jpeg" alt="Женская трижка"></a>
					<div class="mk-post-bg">
					</div>
				</div>
			</div>
			<div class="mk-gallery-post">
				<div class="mk-gallery-img">
					<a data-fancybox="gallery-img" href="{{root}}assets/img/img-4.jpeg"><img src="{{root}}assets/img/img-4.jpeg" alt="Мужская трижка"></a>
					<div class="mk-post-bg">
					</div>
				</div>
			</div>
		</div>

		<div class="large-4 small-12">
			<div class="mk-gallery-post">
				<div class="mk-gallery-img">
					<a data-fancybox="gallery-img" href="{{root}}assets/img/img-2.jpeg"><img src="{{root}}assets/img/img-2.jpeg" alt="Мужская трижка"></a>
					<div class="mk-post-bg">
					</div>
				</div>
			</div>
			<div class="mk-gallery-post">
				<div class="mk-gallery-img">
					<a data-fancybox="gallery-img" href="{{root}}assets/img/img-5.jpeg"><img src="{{root}}assets/img/img-5.jpeg" alt="Женская трижка"></a>
					<div class="mk-post-bg">
					</div>
				</div>
			</div>
		</div>

		<div class="large-4 small-12 hide-for-small-only">
			<div class="mk-gallery-post">
				<div class="mk-gallery-img">
					<a data-fancybox="gallery-img" href="{{root}}assets/img/img-3.jpeg"><img src="{{root}}assets/img/img-3.jpeg" alt="Женская трижка"></a>
					<div class="mk-post-bg">
					</div>
				</div>
			</div>
			<div class="mk-gallery-post">
				<div class="mk-gallery-img">
					<a data-fancybox="gallery-img" href="{{root}}assets/img/img-6.jpeg"><img src="{{root}}assets/img/img-6.jpeg" alt="Мужская трижка"></a>
					<div class="mk-post-bg">
					</div>
				</div>
			</div>
		</div>

		<div class="large-12 small-12">
			<div class="mk-more-works">
				<div class="mk-button-more">
					<a href="gallery.html">Больше работ</a>
				</div>
			</div>
		</div>
	</div>
</section>