<section class="mk-section-about" id="about">
	<div class="row">
		<div class="large-12 small-12">
			<h2 class="mk-title">
				Обо мне
			</h2>
		</div>
		<div class="large-6 small-12 column">
			<div class="mk-about-post">
				<div class="mk-description">
					<p>
						Познакомся со своим личным  мастером - <br>
						<span class="mk-yellow-text">Минакова Екатерина</span> <br>
						• Квалифицированный мастер парикмахерского искусства <br>
						• Уже три года  работаю в салоне красоты, за это время уровень моего мастерства 
						значительно вырос. Я не жалею ни сил, ни времени для посещения тренингов и  курсов 
						повышения квалификации. <br>
						• Количество клиентов становится все больше и больше, большая часть – 
						мои постоянные клиенты. Сегодня я с уверенностью могу сказать, что <span class="mk-yellow-text">я умею 
						делать людей красивыми.</span> <br>
						• Эксперт в сложных окрашиваниях, стрижки и прически любой сложности.
					</p>
				</div>
			</div>
		</div>

		<div class="large-6 small-12 column">
			<div class="mk-photo">
				<img src="{{root}}assets/img/mk-person-1.jpg" alt="Минакова Катерина">
			</div>
		</div>
	</div>
</section>