<section class="mk-section-works">
	<div class="row">
		<div class="large-12 small-12 column">
			<h2 class="mk-title">
				Мои работы
			</h2>

			<div class="mk-subtitle mk-subtitle__desk">
				<p>
					Хочешь увидеть работу ДО? Просто наведи на фото!
				</p>
			</div>

			<div class="mk-subtitle mk-subtitle__mobile">
				<p>
					Хочешь увидеть работу ДО? Просто нажми на фото!
				</p>
			</div>
		</div>
		<div class="large-3 small-6 column">
			<div class="mk-post">
				<div class="mk-img-after">
					<img src="{{root}}assets/img/work-1-after.jpeg" alt="">
				</div>
				<div class="mk-img-before">
					<img src="{{root}}assets/img/work-1-before.jpeg" alt="">
				</div>
			</div>

			<div class="mk-post">
				<div class="mk-img-after">
					<img src="{{root}}assets/img/work-12-after.jpeg" alt="">
				</div>
				<div class="mk-img-before">
					<img src="{{root}}assets/img/work-12-before.jpeg" alt="">
				</div>
			</div>

			<div class="mk-post">
				<div class="mk-img-after">
					<img src="{{root}}assets/img/work-2-after.jpeg" alt="">
				</div>
				<div class="mk-img-before">
					<img src="{{root}}assets/img/work-2-before.jpeg" alt="">
				</div>
			</div>
		</div>

		<div class="large-3 small-6 column">
			<div class="mk-post">
				<div class="mk-img-after">
					<img src="{{root}}assets/img/work-8-after.jpeg" alt="">
				</div>
				<div class="mk-img-before">
					<img src="{{root}}assets/img/work-8-before.jpeg" alt="">
				</div>
			</div>

			<div class="mk-post">
				<div class="mk-img-after">
					<img src="{{root}}assets/img/work-4-after.jpeg" alt="">
				</div>
				<div class="mk-img-before">
					<img src="{{root}}assets/img/work-4-before.jpeg" alt="">
				</div>
			</div>

			<div class="mk-post">
				<div class="mk-img-after">
					<img src="{{root}}assets/img/work-5-after.jpeg" alt="">
				</div>
				<div class="mk-img-before">
					<img src="{{root}}assets/img/work-5-before.jpeg" alt="">
				</div>
			</div>
		</div>

		<div class="large-3 small-6 column">
			<div class="mk-post">
				<div class="mk-img-after">
					<img src="{{root}}assets/img/work-7-after.jpeg" alt="">
				</div>
				<div class="mk-img-before">
					<img src="{{root}}assets/img/work-7-before.jpeg" alt="">
				</div>
			</div>

			<div class="mk-post">
				<div class="mk-img-after">
					<img src="{{root}}assets/img/work-9-after.jpeg" alt="">
				</div>
				<div class="mk-img-before">
					<img src="{{root}}assets/img/work-9-before.jpeg" alt="">
				</div>
			</div>

			<div class="mk-post">
				<div class="mk-img-after">
					<img src="{{root}}assets/img/work-11.jpeg" alt="">
				</div>
				<div class="mk-img-before">
					<img src="{{root}}assets/img/work-11.jpeg" alt="">
				</div>
			</div>
		</div>

		<div class="large-3 small-6 column">
			<div class="mk-post">
				<div class="mk-img-after">
					<img src="{{root}}assets/img/work-6-after.jpeg" alt="">
				</div>
				<div class="mk-img-before">
					<img src="{{root}}assets/img/work-6-before.jpeg" alt="">
				</div>
			</div>

			<div class="mk-post">
				<div class="mk-img-after">
					<img src="{{root}}assets/img/work-3-after.jpeg" alt="">
				</div>
				<div class="mk-img-before">
					<img src="{{root}}assets/img/work-3-before.jpeg" alt="">
				</div>
			</div>

			<div class="mk-post">
				<div class="mk-img-after">
					<img src="{{root}}assets/img/work-10.jpeg" alt="">
				</div>
				<div class="mk-img-before">
					<img src="{{root}}assets/img/work-10.jpeg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>