<section class="mk-section-contact" id="contact">
	<div class="row">
		<div class="large-12 small-12">
			<h2 class="mk-title">
				Контакты
			</h2>
			<div class="mk-subtitle">
				<p>
					Для записи ко мне на любую услугу - заполните контактную форму! Позже я перезвоню вам и мы выберем время вместе!
				</p>
			</div>
		</div>
		<div class="large-8 small-12 large-offset-2 column">
			<div class="mk-contact">
				<form action="https://formspree.io/xzbjoyjy" method="post" id="service">
					<span class="input input--chisato">
						<input class="input__field input__field--chisato" type="text" id="your_name" form="service" name="name" required/>
						<label class="input__label input__label--chisato" for="your_name">
							<span class="input__label-content input__label-content--chisato" data-content="Ваше имя">Ваше имя</span>
						</label>
					</span>
					<span class="input input--chisato">
						<input class="input__field input__field--chisato" type="text" id="your_phone" form="service" name="phone" required/>
						<label class="input__label input__label--chisato" for="your_phone">
							<span class="input__label-content input__label-content--chisato" data-content="Ваш телефон">Ваш телефон</span>
						</label>
					</span>
					<span class="input input--chisato">
						<input class="input__field input__field--chisato" type="text" id="your_adress" form="service" name="adress"/>
						<label class="input__label input__label--chisato" for="your_adress">
							<span class="input__label-content input__label-content--chisato" data-content="Ваш адресс">Ваш адресс</span>
						</label>
					</span>
					<span class="input input--chisato">
						<input class="input__field input__field--chisato" type="text" id="services" form="service" name="service" required/>
						<label class="input__label input__label--chisato" for="services">
							<span class="input__label-content input__label-content--chisato" data-content="Вид услуги">Вид услуги</span>
						</label>
					</span>
					<div class="mk-contact-button">
						<input type="submit" value="Отправить!" form="service">
					</div>
				</form>
			</div>
		</div>
		<div class="large-12">
			<div class="mk-subtitle">
				<p>
					Если у вас возникли трудности или вопросы - позвоните мне просто нажав на номер!
				</p>
			</div>
			<div class="mk-phone">
				<div class="mk-phone-number">
					<a href="tel:+380667253083">+380 66 725 3083</a>
				</div>
			</div>
		</div>
	</div>
</section>