<section class="mk-section-intro">
	<div class="row">
		<div class="large-6 small-12">
			<h1 class="mk-title">
				Get Your <br>
				Dream Hair!
			</h1>
		</div>
		<div class="large-6 small-12 hide-for-small-only">
			<div class="mk-person">
				<img src="{{root}}assets/img/mk-person.jpg" alt="">
			</div>
			<div class="mk-cut">
				<img src="{{root}}assets/img/mk-cut.jpg" alt="">
			</div>
			<div class="mk-working">
				<img src="{{root}}assets/img/mk-working.jpg" alt="">
			</div>
		</div>
	</div>
</section>