<footer class="mk-footer">
   <div class="row">	
		<div class="large-4 hide-for-small-only">
			<div class="mk-social">
				<a href="#">
					<svg width="30px" height="30px">
						<use xlink:href="#icon-instagram"></use>
					</svg>
					<span>Instagram</span>
				</a>

				<a href="#">
					<svg width="30px" height="30px">
						<use xlink:href="#icon-telegram"></use>
					</svg>
					<span>Telegram</span>
				</a>

				<a href="#">
					<svg width="30px" height="30px">
						<use xlink:href="#icon-viber"></use>
					</svg>
					<span>Viber</span>
				</a>
			</div>
		</div>
		<div class="large-4 small-3">
			<div class="mk-logo">
				<a href="#">
					<img src="{{root}}assets/img/logo.svg" alt="MK">
				</a>
			</div>
		</div>
		<div class="large-4 small-9">
			<ul class="mk-contact">
				<li>
					<span>
						Телефон:	
					</span>
					<span class="mk-phone">
						<a href="tel:+380667253083">+380 66 725 3083</a>
					</span>
				</li>
				<li>
					<span>
						Почта:
					</span>
					<span>
						<a href="mailto:Minakovak@i.ua">Minakovak@i.ua</a>
					</span>
				</li>
			</ul>
		</div>		
   </div>
   <!-- /.row -->
</footer>
<!-- /.ba-footer -->