<header class="mk-header-wrap">    
    <div class="mk-header">
        <div class="row align-middle ">
            <div class="column">
                <a href="index.html">
                    <img src="{{root}}assets/img/logo.svg" alt="MK">
                </a>
            </div>
            <!-- /.column -->
            <div class="column shrink">
                <ul class="menu mk-main-menu">
						  <li><a href="index.html">Главная</a></li>
                </ul>
            </div>
            <!-- /.column -->
        </div>
        <!-- /.row -->
    </div>
</header>