<header class="mk-header-wrap">    
    <div class="mk-header">
        <div class="row align-middle ">
            <div class="column">
                <a href="index.html">
                    <img src="{{root}}assets/img/logo.svg" alt="MK">
                </a>
            </div>
            <!-- /.column -->
            <div class="column shrink">
					<button class="menu-icon white hide-for-medium" type="button" data-open="offCanvas" aria-label="Show menu">
					</button>
					<ul class="menu mk-main-menu show-for-medium">
						<li><a href="index.html">Главная</a></li>
						<li><a href="#about">Обо мне</a></li>
						<li><a href="#price">Цены</a></li>
						<li><a href="#gallery">Галерея</a></li>
						<li><a href="#contact">Контакты</a></li>
					</ul>
            </div>
            <!-- /.column -->
        </div>
        <!-- /.row -->
    </div>
</header>